
.barchat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.barchat-main-heading {
    font-family: roboto;
    text-align: center;
}
.barchat-search-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.barchat-date {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.barchat-button, .barchat-report-button{
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(38, 130, 216);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.164);
}
.barchat-report-button{
    background-color: rgb(18, 73, 18);
}

.barchat-button:hover {
    background-color: rgb(202, 21, 21);
    color: white;
}
.analytics-repors-heading{
    text-align: center;
    font-size: 2vw;
}
.submittion-date{
    color: rgb(76, 76, 245);
}
.barchart-head-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.barchart-back-icon{
    font-size: 4vw;
    font-weight: bold;
    background-color: rgb(170, 172, 174);
    width: 6vw;
    border-radius: 5px;
    height: 5vh;
    color: black;
}