/* styles.css */
.truck-animation {
    animation: moveTruck 3s linear forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes moveTruck {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .delete-truck{
    width: 7vw;
    height: 8vh;
  }
  .popup-animation {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.popup-animation.open {
    opacity: 1;
}
  