.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/242/978/small_2x/abstract-dark-blue-wave-trendy-geometric-abstract-background-free-vector.jpg");
    background-size: cover;
    height: 7vh;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-login-button{
    height: 5vh;
    width: 8vw;
    border: none;
    background-color: rgb(3, 106, 175);
    color: white;
    border-radius: 5px;
}
.navbar-logo{
    height: 5vh;
    width: 8vw;
}
.logs-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20vw;
    justify-content: space-between;
}
.admin-path{
    color: white;
    font-size: 2vw;
}